body {
  padding: 0px;
  margin: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#trade-table-container,
#active-trade-table-container {
  margin-top: 0;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.settings td {
  text-align: right;
}

th {
  text-transform: uppercase;
  background: black;
  color: white;
}

td.green {
  background: lightgreen;
}

td.red {
  background: lightpink;
}

.flex-container {
  display: flex;
  border: solid 2px black;
  border-left: 2px;
  border-right: 2px;
}

.flex-child {
  flex: 1;
  border: 2px solid white;
}

.flex-child.final {
  text-align: end;
}

.flex-child:first-child {
  margin-right: 20px;
}

.flex-header {
  background: white;
}
table {
  width: 100%;
  padding: 10px;
}

td.yellow {
  background: yellow;
}

#todaysDate {
  text-align: end;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  /* text-decoration: underline; */
  background: black;
  color: white;
  margin: 0;
  padding: 10px 0px;
}

.app-header {
  background: black;
}

.app-header .flex-child {
  margin: 0;
  border: unset;
}

.app-header h3 {
  top: 15%;
  position: absolute;
}

.app-header label {
  top: 20%;
}

td.align-left {
  text-align: left;
}
td.align-right {
  text-align: right;
}
td.align-right.height-20px {
  height: 23px;
}
.settings td input,
.settings td select {
  width: 94%;
  text-align: right;
  font-size: 1rem;
  height: 20px;
  border: unset;
}
.settings td input:focus {
  border: unset;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 100;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.save-button {
  width: 100%;
  height: 35px;
  background: green;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: unset;
  cursor: grab;
}
td.no-border {
  border: unset;
  padding: 10px 0px 0px 0px;
}
.app-loading {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.8;
  text-align: center;
  /* display: none; */
}

.header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  border: solid 2px black;
  border-left: 2px;
  border-right: 2px;
  z-index: 998;
}
.main-content {
  margin-top: 110px;
}

.lds-facebook {
  display: inline-block;
  /* position: relative; */
  width: 80px;
  height: 80px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h3 {
  color: white;
  text-align: right;
  margin: 0 12px;
}

.checkbox-label {
  text-align: right;
  padding-right: 10px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 100%;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
